h1{
    color:black;
    font-family:"Avenir Next";
    text-align:center;
    font-size:56pt;
}
h1:hover{
color:blue;
}
.Align{
text-align:Center;
}

body{
background-image:url("clock.jpg");
background-repeat:no-repeat;
background-position:center;
background-size:100%;
}

.border{
border:4px ridge black;
padding:15px;
display:inline-center;
width:500px;
margin-left:400px;
margin-top:10%;
background-image:url("rustyclock.jpg");
}

.number{
font-size:110pt;
color:white;
}

.button{
background-color:#B59F82;
border:0.5px solid #9C8970;
text-align:Center;
font-size:20px;
transition:transform 0.5s;
color:black;
}

.button:hover{
transform:scale(1.1);
}

.divide{
    width:20px;
    height:auto;
    display:inline-block;
}